{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
    {% if validlink %}
        {% include 'main/navbar.html' %}
        <div class="container">
        <div style="border:2px solid lightgrey;position: absolute;top:26%;left:30%;" class="d-block my-auto text-center py-5 px-4 hoverable">

            <h2>Change password</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-info">Change password</button>
            </form>
            {% else %}
            <p>
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </p>
        </div>
        </div>
        {% include 'main/footer.html' %}
    {% endif %}
{% endblock %}