{% load static %}
<div id="overviews" class="section lb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h3>About</h3>
                    <p class="lead">"If you want to teach people a new way of thinking, don't bother
                        trying to teach them. Instead, give them a tool,the use of which will lead to new ways of
                        thinking." - <strong>R.Buckminster Fuller</strong></p>
                </div>
            </div><!-- end title -->

            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h4 class="text-capitalize">2020 Best SmartEDU education Platform</h4>
                        <h2>Making every student unstoppable!</h2>
                        <p>At <strong>QuizSmartEDU</strong>, we believe that anyone can learn anything. All it takes is
                            a tenacious spirit, the right guidance, and the tools to see it through. We know that
                            students are under more pressure than ever. It can leave them overwhelmed, be
                            anxiety-producing and make it all too easy to burn out. It’s our job to give every student
                            the tools and confidence to succeed, no matter what their motivation, or what they’re
                            striving to achieve.</p>
                        <a href="#" class="hover-btn-new orange"><span>Read our impact report</span></a>
                    </div><!-- end messagebox -->
                </div><!-- end col -->

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="{% static 'images/about_02.jpg' %}" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->
            </div>
            <hr/>
            <br>
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <img src="{% static 'images/about_03.jpg' %}" alt="" class="img-fluid img-rounded">
                    </div><!-- end media -->
                </div><!-- end col -->

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>From a single classroom to schools around the world!</h2>
                        <p>What started as a simple tool has grown into seven different study modes, tools to help
                            teachers get the most out of their students, and activities to help classes learn and have
                            fun together. And that’s just the start. We’re working on unleashing the magic of one-on-one
                            learning for every student, shaping the future of personalized learning through an assistant
                            to help guide and motivate every learner.</p>
                    </div><!-- end messagebox -->
                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
